# Logs
logs
*.log
npm-debug.log*

# Dependencias
node_modules
dist
dist-ssr

# Archivos de Entorno
.env
.env.*
!.env.example
!.env.staging.example
!.env.production.example

# Vercel
.vercel

# Editor y Sistema
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

