ALTER TABLE liga ADD COLUMN monto_inscripcion NUMERIC(10,2) DEFAULT 0 CHECK (monto_inscripcion >= 0);
COMMENT ON COLUMN liga.monto_inscripcion IS 'Valor base de inscripción para equipos en esta liga.';

